<textarea name="message" id="messagebox" cols="30" rows="10" placeholder="Type Message here"
    [(ngModel)]="message"></textarea>
<button (click)="send(message)">Send Message</button>
<ul>
    @for (message of messages; track $index) {
    <li>
        <img [src]="(message.sentby | getPhoto : users : usersloaded) | async" alt="Profile Photo" height="50px" width="50px">
        {{message.message}} - {{ message.sentby | getName : users}}
        @if (message.sentby === user_id) {
        <button (click)="delete(message.id)">X</button>
        }
    </li>
    }
</ul>